.header{
    visibility: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 8px;
}

.h1{
    font-size: 30px;
    letter-spacing: 1px;
}
.containerLinksNavBar{
    width: 410px;
    height: 100%;
    display: flex;
    padding: 25px 10px;
    justify-content: space-between;
    letter-spacing: 1px;
}
.linkNavBar{
    padding: 5px 0px 6px;
    border: 2px solid transparent;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}
.linkNavBar:hover{
    padding: 5px 0px 6px;
    border-bottom: 2px solid #8b7d7db7;
    color:#5e5959f0;
} 
.containerBtn{
    width: 60px;
    height: 60px;
}
.btn{
    width: 100%;
    height: 100%;
    font-size: 46px;
    transform: rotate(90deg);
    border: none;
    background-color: transparent;
    color: #000;
}
.containerGlobalMenuHb{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.containerMenuHbOpen{
    display: flex;
    width: 200px;
    height: 230px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    letter-spacing: 1px;
    position: absolute;
    top: 55px;
    right: 14px;
}
.containerMenuHbFechado{
    display: none;
}
.linkMenuHb{
    text-decoration: none;
    color: #000;
}
@media(max-width:625px){
    .h1{
    font-size: 23px;
    letter-spacing: 2px;
    }
    .containerLinksNavBar{
        display: none;
    }
    .linkNavBar{
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 22px;
    }
}
@media(min-width:626px){
    .containerGlobalMenuHb{
        display: none;
    }
}
