.containerGlobalBanner{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0px 0px 70px;
}
.containerImage{
    width: 100%;
    min-width: 280px;
    max-width: 350px;
    height: auto;
    margin: 0px 0px 0px 15px;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.containerInformacoesBanner{
    display: flex;
    max-width: 334px;
    width: 100%;
    min-width: 312px;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.span{
    font-size: 15px;
    font-weight: 600;
    color: #2e2f2c;
}
.h2{
    font-size: 42px;
}
.p{
    font-size: 25px;
    font-weight: 600;
    color: #2e2f2c;
    letter-spacing: 2px;
    padding: 0px 0px 7px;
    letter-spacing: 3px;
}
.containerLinksBanner{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.containerCurriculoBanner{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkContact{
    background-color: #000;
    color: #fff;
}
.linkCurriculo, .linkContact{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 25px;
    border: 2px solid;
    padding: 10px 9px;
}
.linkCurriculo{
    margin: 0px 20px 0px 0px;
    color: #000;
}
.linkCurriculo:hover{
    background-color: #000000;
    color: #fff;
    border-radius: 25px;
}
.containerIconBanner{
    padding: 20px 0px 0px;
}
.iconGithub,.iconLinkedin,.iconWathSapp{
    padding: 0px 10px;
}
.icon{
    border-radius: 50px;
    filter: grayscale(1);
}
.icon:hover{
    filter: none;
    filter: drop-shadow(0px 3px 5px black);
}
@media(max-width:768px){
    .icon{
        filter: none;
        width: 100%;
        max-width: 60px;
        min-width: 60px;
        height: auto;
    }
    .linkCurriculo, .linkContact{
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1px;
        border-radius: 15px;
        border: 2px solid;
        padding: 15px 20px;
    }
    .containerImage{
        max-width: 284px;
        min-width: 230px;
        margin: 0px 0px 5px 10px;
    }
}
@media(min-width:619px){
    .containerInformacoesBanner{
        margin-left: 7px;
    }
}
@media(min-width:769px){
    .icon{
        width: 48px;
        height: auto;
    }
    .containerInformacoesBanner{
        padding-left: 15px;
    }
    .containerGlobalBanner{
        height: 421px;
    }
}
@media(min-width:648px){
    .containerGlobalBanner {
        height: 400px;
        margin: 0;                                     
    }
}